<!-- <p>home works!</p> -->
<!-- <app-footer></app-footer> -->

<!-- Interpolação -->
<!-- {{ count() }} -->
<!-- Interpolação -->

<!-- Property Binding -->
<!-- <img [src]="imageCat" /> -->
<!-- Property Binding -->

<!-- Eventos Bidings -->
<!-- <button (click)="teste()">Click me</button>
<input type="text" (change)="teste()" /> -->
<!-- Eventos Bidings -->

<!-- @if (name == "MV Soul") {
<p>Verdade!</p>
} @else if (name == "SoulMV") {
<p>Talvez!</p>
} @else {
<p>Falso!</p>

} @for (item of lista; track item) {
<p>{{ item }}</p>
} @empty {
<p>Vazio!!</p>
} -->
